<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>How This Works</h1>
            <p class="lead">Browse our current deals, and buy your spot with the click of a button.</p>
            
        </div>
    </div>
</div>